<div class="container">
	<div class="page">
		<h1>Cidades</h1>
		<div class="md-card md-pesquisar">
			<div class="md-card-content">
				<form class="form form-pesquisa" data-ng-submit="pesquisar()">
					<label>
						Cidade
					</label>
					<input type="text" data-ng-model="descricao" />
					<button class="btn success">
						BUSCAR
					</button>
				</form>	
			</div>
		</div>
		<div class="md-card">
			<div class="md-card-content">
				<section class="header">
					<a class="btn btn-novo" data-ng-click="window.modal.open()">
						Novo
					</a>
					<a class="btn btn-reload" data-ng-click="get()">
						<img src="images/reload.png" title="Recarregar Dados" />
					</a>
				</section>
				<section data-ng-show="response.status == 1">
					<table class="table">
						<thead>
							<th>ID</th>
							<th>CIDADE</th>
							<th>ESTADO</th>
							<th class="acoes"></th>
						</thead>
						<tbody>
							<tr data-ng-repeat="d in response.data">
								<td>{{d.id}}</td>
								<td>{{d.descricao}}</td>
								<td>{{d.estado}}</td>
								<td>
									<button class="btn btn-editar" data-ng-click="window.modal.open(d)">
									Editar
									</button>
									<button class="btn btn-excluir" data-ng-click="deletar(d.id,$index)">
									Excluir
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</section>
			</div>	
		</div>
		<div id="modal">
			<form class="form" data-ng-submit="salvar()">
				<div class="form-row">
					<label for="dataItem.descricao">Cidade</label>
					<input type="text" data-ng-model="dataItem.descricao" />
				</div>
				<div class="form-row">
					<label for="dataItem.estado_id">Estado</label>
					<select type="text" data-ng-model="dataItem.estado_id" data-combo-estados data-ng-if="openModal">
						<option value="{{d.id}}" data-ng-repeat="d in response.data">
							{{d.descricao}}
						</option>
					</select>
				</div>
				<div class="form-row">
					<div class="footer">
						<button class="btn btn-novo">
							Salvar
						</button>
						<button type="button" class="btn btn-excluir" data-ng-click="window.modal.close()">
							Cancelar
						</button>
					</div>	
				</div>
			</form>
		</div>	
		<div id="modalMessage" class="modalMessage">
			<div class="content">
				<p class="{{messages.class}}" data-ng-html="messages.data">
				</p>
			</div>
			<div class="footer">
				<button class="btn btn-minfo" data-ng-click="window.info.close()">
					OK
				</button>
			</div>	
		</div>	
	</div>	
</div>	