*{
	padding: 0;
	margin: 0;
}
body{
	font-family: 'Roboto', sans-serif;
}
h1{
	font-size: 24px;
	font-weight: normal;
}
h2{
	font-size: 20px;
}
h3{
	font-size: 18px;
}
.container{
	width: 1170px;
	margin: 0 auto; 
}
.page{
	padding: 40px 0;
}
.page h1{
	margin-bottom: 30px;
}
.table{
	width: 100%;
	font-size: 12px;
}
.md-card .btn-reload{
	float: right;
}
.md-card .btn-reload img{
	width: 20px;
}
.table th:nth-child(1){
	width: 70px;
}
.table th:nth-child(3){
	width: 200px;
}
.table th{
	font-weight: normal;
	text-align: left;
	background: #f6f6f6;
	padding: 5px;
}
.table th.acoes{
	width: 200px;
}
.btn{
	padding: 5px 15px;
	border: 0;
	cursor: pointer;
	color: #FFF;
}
.btn-excluir{
	background: #d9534f;
}
.btn-editar{
	background: #cfd60d;
}
.btn-novo{
	background: #5cb85c;
}
.md-card{
	box-shadow: 1px 2px 4px 0 #c6c6c6;
}
.md-card .header{
	display: table;
	width: 100%;
	margin-bottom: 10px;
}
.md-card-content{
	padding: 20px;
}
.form label,.form button,.form input,.form select{
	font-size: 12px;
}
.form .footer{
	margin: 10px 0;
}
.form .form-row{
	display: table;
	width: 100%;
}
.form input,.form select{
	display: block;
	width: 100%;
	padding: 7px 0;
	outline: none;
}
.form select{
	text-indent: 5px;
}
.form select option{
	padding: 2px 7px;
}
.form input{
	text-indent: 10px;
}

.danger{
	background: #d9534f;
}
.success{
	background: #5cb85c;
}
/** Form Pesquisar **/
.md-pesquisar{
	margin-bottom: 10px;
}
.form-pesquisa label{
	margin: 5px 10px 0 0;
}
.form-pesquisa button{
	margin-left: 5px;
	height: 30px;
}
.form-pesquisa label,
.form-pesquisa input{
	float: left;
}
.form-pesquisa input{
	width: 50%;
}

/** Modal message **/
.modalMessage .content p{
	padding: 10px 5px;
	margin-bottom: 10px;
	color: #FFF;
	font-size: 12px;
}
.modalMessage button{
	color: #000;
}
