.modulo-loader{
    z-index: 500000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modulo-loader .overlay{
    background: #FFF;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    -moz-opacity: 0.85;
    -khtml-opacity: 0.85;
    opacity: 0.85;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=85);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=85);
    filter:alpha(opacity=85);  
}
.modulo-loader .loader img{
    width: 70px;  
}
.modulo-loader .loader{
    position: relative;
    z-index: 10000000;
    text-align: center;
    height: 100%;
    top:40%;
    font-size: 60px;
}